<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.wongxd">

	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<application>
		<activity
				android:name="wongxd.AtyWeb"
				android:configChanges="orientation|screenSize" />

		<activity
				android:name="wongxd.alipay.AlipayH5Activity"
				android:configChanges="orientation|keyboardHidden|navigation"
				android:exported="false"
				android:screenOrientation="behind" />

		<service
				android:name="wongxd.common.autoInstall.AutoInstallService"
				android:label="@string/aby_label"
				android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
				android:process=":install">
			<intent-filter>
				<action android:name="android.accessibilityservice.AccessibilityService" />
			</intent-filter>
			<meta-data
					android:name="android.accessibilityservice"
					android:resource="@xml/accessibility_config" />
		</service>

		<activity android:name="wongxd.base.crash.DefaultErrorActivity" />

		<activity
				android:name="wongxd.base.custom.idcardCamera.camera.CameraActivity"
				android:screenOrientation="landscape"
				android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

	</application>
</manifest>
